<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">

    <!-- Web Manifest-->
    <link rel="manifest" href="/static/favicon/site.webmanifest">


    <!-- Metadata -->
    <meta name="description" content="Testing Accelerator with Gen AI">
    <meta name="keywords" content="testing, genai, BDD">

    <title>Testing Accelerator with Gen AI</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>

<nav class="navbar flex justify-content-around ">

    <img src="/static/logo/exavalu.png" alt="Exavalu Logo"
         class="company-name">
    <h1>Testing Accelerator using Gen AI</h1>
    <div></div>
</nav>

<div class="sidebar"></div>
<nav class="menu">
    <h3 class="px-2 text-danger">Menu Items</h3>
    <ul class="p-0">
        <li><a href="#">Generate BDD(File)</a></li>
        <li><a href="#">Generate BDD(Jira)</a></li>
        <li><a href="#">Generate Test Data</a></li>
    </ul>
</nav>
<p class="hr">
<p>
    {% if status %}
<div class="alert alert-danger mt-3" id="alert1">
    {{ status }}
</div>
{% endif %}

<main class="container">
    <div class="row">
        <div class="col-md-10" id="bdd-input">
            <div id="bdd-info-message" class="alert alert-info mt-3"></div>
            <form class="upload-group" method="post" action="/upload-bdd" enctype="multipart/form-data">
                <input class="form-control" name="file" type="file" id="file-input" accept=".xls,.xlsx" required>
                <button class="btn btn-danger mt-5" id="upload-bdd" onclick="initiateLoader()">Generate BDD</button>
            </form>
        </div>
        <div class="col-md-10" id="bdd-jira-input">
            <div id="bdd-jira-info-message" class="alert alert-info mt-3"></div>
            <form class="upload-group-jira" method="post" action="/generate_bdd_jira" enctype="multipart/form-data">
                <label for="jira_url">URL:</label>
                <input class="form-control" type="url" name="jira_url" id="jira_url"
                       placeholder="https://user.atlassian.net" required>
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" required placeholder="abc@xyz.com">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" required>
                <label for="board_id">Board Name:</label>
                <select class="form-control" name="board_id" id="board_id" required>
                    <option value="">Select Board</option>
                </select>
                <label for="sprint_id">Sprint(Active):</label>
                <select class="form-control" name="sprint_id" id="sprint_id" required>
                    <option value="">Select Sprint</option>
                </select>

                <button class="btn btn-danger mt-3" id="upload-jira-bdd" onclick="initiateLoader()">Generate BDD From
                    Jira
                </button>
            </form>
        </div>

        <div class="col-md-8" id="test-input">
            <div id="test-info-message" class="alert alert-info mt-3"></div>
            <form class="upload-test" method="post" action="/generate_test" enctype="multipart/form-data">
                <label for="lob">Line Of Business</label>
                <select class="form-select" name="lob" id="lob" required>
                    <option value="" disabled selected>Select LOB</option>
                    <option value="personal auto">Personal Auto</option>
                    <option value="Homeowners(Condo)">Home owners(Condo)</option>
                    <option value="commercial property">Commercial Property</option>
                    <option value="Commercial Auto">Commercial Auto</option>
                    <option value="Workers Compensation">Workers Compensation</option>
                </select>
                <label for="state" class="mt-3">State</label>
                <select class="form-select" name="state" id="state" required>
                    <option value="" disabled selected>Select State</option>
                    <option value="AZ">Arizona (AZ)</option>
                    <option value="IA">Iowa (IA)</option>
                    <option value="IL">Illinois (IL)</option>
                    <option value="OH">Ohio (OH)</option>
                    <option value="WI">Wisconsin (WI)</option>
                    <option value="IN">Indiana (IN)</option>
                </select>
                <label for="test_cases" class="mt-3">No of Test Cases</label>
                <select class="form-select" name="test_cases" id="test_cases" required>
                    <option value="" disabled selected>Select No of Test Cases</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                    <option value="120">120</option>
                </select>
                <button class="btn btn-danger my-2" id="upload-test" onclick="initiateLoader()">Generate Test Data
                </button>
            </form>
        </div>

        {% if response %}
        <div class="col-md-4" id="output">
            <div class="alert alert-success mt-3">
                <h3>Download Output File From The Below button</h3>
                <a href="{{ response }}" class="btn btn-dark mt-3">Download</a>
            </div>
        </div>
        {% endif %}
        <!--Loader-->
        {% if not response %}
        <div class="loader text-center" id="loader" hidden>
            <div class="spinner-border text-danger" style="width: 5rem; height: 5rem;" role="status"></div>
        </div>
        {% endif %}
        <!--End Loader-->
    </div>

</main>
<script>
    function initiateLoader(){
        document.getElementById('loader').hidden = false;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="./static/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $("#jira_url, #email, #password").change(function() {
        var jiraUrl = $("#jira_url").val();
        var email = $("#email").val();
        var password = $("#password").val();

        // Check if all three fields are not empty
        if (jiraUrl && email && password) {
            // Make AJAX call to get board IDs
            $.ajax({
                type: "POST",
                url: "/get_bdd_jira_boardid",
                data: {
                    jira_url: jiraUrl,
                    email: email,
                    password: password
                },
                success: function(response) {
                    $("#board_id").empty();
                    $.each(response.board_ids, function(index, board_id) {
                        $("#board_id").append('<option value="' + board_id[0] + '">' + board_id[1] + '</option>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    // Handle error
                }
            });
        }
    });

    // Trigger AJAX call to get sprint IDs when board ID is selected
    $("#board_id").change(function() {
        var jiraUrl = $("#jira_url").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var board_id = $(this).val(); // Get the selected board ID

        // Check if all four fields are not empty
        if (jiraUrl && email && password && board_id) {
            // Make AJAX call to get sprint IDs
            $.ajax({
                type: "POST",
                url: "/get_bdd_jira_sprintid",
                data: {
                    jira_url: jiraUrl,
                    email: email,
                    password: password,
                    board_id: board_id
                },
                success: function(response) {
                    $("#sprint_id").empty();
                    $.each(response.sprint_ids, function(index, sprint_id) {
                        $("#sprint_id").append('<option value="' + sprint_id[0] + '">' + sprint_id[1] + '</option>');
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    // Handle error
                }
            });
        }
    });
});

</script>

</body>

</html>
